#img {
  width: 100%;
}

body {
  width: 200px;
}

footer {
  display: flex;
  justify-content: center;
}

#total:hoover {
  background-color: blue;
}

#confirm-buttons {
  display: flex;
  justify-content: center;
}

#confirm-ask {
  text-align: center;
}

#confirmation {
  text-align: center;
}
